<div class="row">
  <%= render 'nav' %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">

    <%= render 'layouts/breadcrumbs' %>

    <div class="border rounded p-3">
      <h1><%= @template.title %></h1>
      <div><%= display_content(@template.content) %></div>
    </div>


    <div class="btn-group position-fixed bottom-0 end-50" style="z-index: 1000;">
      <% if can?(:destroy, @template) && can?(:update, @template) %>
        <%= button_to t('destroy'), template_path(@template), method: :delete, data: { "turbo-confirm": 'Are you sure?' }, class: "btn btn-danger" %>
        <%= link_to t('edit'), edit_template_path(@template), class: "btn btn-warning" %>
        <%= link_to t('back'), templates_path, class: "btn btn-secondary" %>
      <% else %>
        <%= link_to t('back'), templates_path, class: "btn btn-secondary" %>
      <% end %>
    </div>

    <%= render 'shared/footer' %>
  </main>
</div>
