<div class="btn-group pt-5">
  <% case action_type %>
  <% when :index_template %>
    <%= link_to t('new'), new_template_path, class: "btn btn-outline-success" %>
  <% when :show_template %>
    <%= button_to t('destroy'), template_path(resource), method: :delete, data: { "turbo-confirm": 'Are you sure?' }, class: "btn btn-outline-danger" %>
    <%= link_to t('edit'), edit_template_path(resource), class: "btn btn-outline-warning" %>
    <%= link_to t('back'), templates_path, class: "btn btn-outline-secondary" %>
  <% when :new_template %>
    <%= link_to t('back'), templates_path, class: "btn btn-outline-secondary" %>
  <% when :edit_template %>
    <%= link_to t('back'), templates_path, class: "btn btn-outline-secondary" %>

  <% when :index_document %>
    <%= link_to t('new'), new_document_path, class: "btn btn-outline-success" %>
  <% when :show_document %>
    <%= button_to t('destroy'), document_path(resource), method: :delete, data: { "turbo-confirm": 'Are you sure?' }, class: "btn btn-outline-danger" %>
    <%= link_to t('edit'), edit_document_path(resource), class: "btn btn-outline-warning" %>
    <%= link_to t('back'), documents_path, class: "btn btn-outline-secondary" %>
  <% when :new_document %>
    <%= link_to t('back'), documents_path, class: "btn btn-outline-secondary" %>
  <% when :edit_document %>
    <%= link_to t('back'), documents_path, class: "btn btn-outline-secondary" %>

  <% else %>
    <%= link_to button_text, root_path, class: "btn btn-outline-success" %>
  <% end %>
</div>
