<tr>
  <td><%= document.title.truncate(50) %></td>
  <td><%= document.updated_at %></td>
  <td class="text-end">
    <% if document.company && document.company.memberships.exists?(user_id: current_user.id, role: Membership.roles[:owner]) %>
      <%= link_to company_project_document_path(@company, @project, document),
          class: "position-relative btn btn-sm btn-outline-danger" do %>
        <span class="ms-2" title="Reading document..."><%= t('.open') %></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
        </svg>
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
      <% end %>
    <% else %>
      <%= link_to company_project_document_path(@company, @project, document),
          class: "position-relative btn btn-sm btn-outline-success" do %>
        <span class="ms-2" title="Reading document..."><%= t('.open') %></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
        </svg>
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle"></span>
      <% end %>
    <% end %>
  </td>
</tr>
