<div class="row">
  <%= render 'nav' %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
    <%= render 'layouts/breadcrumbs' %>
    <div class="p-3">
      <h1><%= t('edit') %></h1>
      <%= render "form", company: @company, project: @project, document: @document %>
    </div>
    <div class="btn-group pt-3">
      <%= link_to company_project_document_path(@company, @project, @document), class: "btn btn-secondary", title: t('back') do %>
        <i class="bi bi-arrow-left-circle-fill"></i>
      <% end %>
    </div>
  </main>
</div>
