<div class="row">
  <%= render 'nav' %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
    <%= render 'layouts/breadcrumbs' %>
    <h1><%= t('all_list') %>
      <small>
        <% if can?(:create, Document) && @project.documents.empty? %>
          <div class="btn-group">
            <%= button_to "+", sample_document_company_project_path(@company, @project),
              method: :post,
              class: "btn btn-sm btn-outline-primary rounded-pill mb-2" %>
          </div>
        <% end %>
      </small>
    </h1>
    <ul class="nav nav-fill nav-tabs" id="pills-tab" role="tablist">
      <!-- Вкладки для проектов -->
      <% @project_documents.group_by(&:project).each_with_index do |(project, docs), index| %>
        <li class="nav-item" role="presentation">
          <a class="data-bs-theme text-uppercase fw-bold nav-link <%= 'active' if index == 0 %>" id="pills-project-<%= project.id %>-tab" data-bs-toggle="tab" data-bs-target="#pills-project-<%= project.id %>" role="tab" aria-controls="pills-project-<%= project.id %>" aria-selected="<%= index == 0 %>">
            <%= project.title %>
          </a>
        </li>
      <% end %>
      <!-- Вкладки для проектов -->

      <!-- Вкладка для шаблонов -->
      <li class="nav-item" role="presentation">
        <a class="data-bs-theme text-uppercase fw-bold nav-link" id="pills-templates-tab" data-bs-toggle="tab" data-bs-target="#pills-templates" role="tab" aria-controls="pills-templates" aria-selected="false">
          <%= I18n.t('.templates') %>
        </a>
      </li>
      <!-- Вкладка для шаблонов -->
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <!-- Содержимое для проектов -->
      <% @project_documents.group_by(&:project).each do |project, docs| %>
        <div class="tab-pane fade <%= 'show active' if docs.first == @project_documents.first %>" id="pills-project-<%= project.id %>" role="tabpanel" aria-labelledby="pills-project-<%= project.id %>-tab" tabindex="0">
          <div class="table-responsive" data-controller="datatables" data-datatables-language-value="<%= I18n.locale %>">
            <table class="table table-hover" data-datatables-target="table">
              <thead>
                <tr>
                  <th scope="col"><%= I18n.t('.title') %></th>
                  <th scope="col"><%= I18n.t('activerecord.attributes.document.updated_at') %></th>
                  <th scope="col" class="text-end"><%= I18n.t('.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <%= render collection: docs, partial: 'documents/document', as: :document %>
              </tbody>
            </table>
          </div>

          <% if can?(:create, Document) %>
            <div class="btn-group mt-3">
              <%= button_to t('new'), sample_document_company_project_path(@company, @project),
                  method: :post,
                  class: "btn btn-sm btn-outline-primary",
                  title: "Create document" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- Содержимое для проектов -->

      <!-- Содержимое для шаблонов -->
      <div class="tab-pane fade" id="pills-templates" role="tabpanel" aria-labelledby="pills-templates-tab" tabindex="0">
        <div class="table-responsive" data-controller="datatables" data-datatables-language-value="<%= I18n.locale %>">
          <table class="table table-hover" data-datatables-target="table">
            <thead>
              <tr>
                <th scope="col"><%= I18n.t('.title') %></th>
                <th scope="col"><%= I18n.t('activerecord.attributes.document.updated_at') %></th>
                <th scope="col" class="text-end"><%= I18n.t('.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'templates/template', collection: @templates, as: :template, locals: { company: @company, project: @project } %>
            </tbody>
          </table>
        </div>

        <% if can?(:create, Template) %>
          <div class="btn-group mt-3">
            <%= button_to t('new'), sample_template_templates_path,
                method: :post,
                class: "btn btn-sm btn-outline-primary",
                title: "Create template" %>
          </div>
        <% end %>
      </div>
      <!-- Содержимое для шаблонов -->
  </main>
</div>
