<div class="row">
  <%= render 'nav' %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
    <%= render 'layouts/breadcrumbs' %>
    <div class="p-3">
      <h1><%= @project.title %></h1>
      <p><%= @project.description %></p>
    </div>
    <div class="btn-group mt-3">
      <% if can?(:destroy, @project) && can?(:update, @project) %>
        <%= button_to company_project_path(@company, @project),
            method: :delete,
            data: { turbo_confirm: t('are_you_sure') },
            class: "btn btn-danger",
            title: t('destroy') do %>
          <i class="bi bi-trash3-fill"></i>
        <% end %>
        <%= link_to edit_company_project_path(@company, @project), class: "btn btn-warning", title: t('edit') do %>
          <i class="bi bi-pencil-fill"></i>
        <% end %>
        <%= link_to company_projects_path(@company), class: "btn btn-secondary", title: t('back') do %>
          <i class="bi bi-arrow-left-circle-fill"></i>
        <% end %>
      <% else %>
        <%= link_to company_projects_path(@company), class: "btn btn-secondary", title: t('back') do %>
          <i class="bi bi-arrow-left-circle-fill"></i>
        <% end %>
      <% end %>
    </div>
  </main>
</div>
