<div class="row">
  <%= render 'nav' %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
    <%= render 'layouts/breadcrumbs' %>
    <div class="p-3">
      <h1><%= @project.title %></h1>
      <p><%= @project.description %></p>
    </div>
    <div class="btn-group mt-3">
      <% if can?(:destroy, @project) && can?(:update, @project) %>
        <%= button_to t('destroy'), company_project_path(@company, @project), method: :delete, data: { "turbo-confirm": 'Are you sure?' }, class: "btn btn-danger" %>
        <%= link_to t('edit'), edit_company_project_path(@company, @project), data: { turbo_frame: "right-panel" }, class: "btn btn-warning" %>
        <%= link_to t('back'), company_projects_path(@company), class: "btn btn-secondary" %>
      <% else %>
        <%= link_to t('back'), company_projects_path(@company), class: "btn btn-secondary" %>
      <% end %>
    </div>
  </main>
</div>
