<div class="row">
  <%= render 'nav' %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 my-4">
    <%= render 'layouts/breadcrumbs' %>
    <div class="m-3">
      <h1><%= @company.name %></h1>
      <% if current_user.admin? || @company.memberships.exists?(user: current_user, role: :owner) %>
        <div class="row g-4">
          <div class="col-6">
            <div class="p-3 rounded border">
              <div class="add-member">
                <h3><%= I18n.t('.add_member') %></h3>
                <%= form_with url: company_memberships_path(@company), local: true do |form| %>
                  <div class="mb-3">
                    <%= form.label :user_id, class: 'form-label' %>
                    <%= form.collection_select :user_id, User.all, :id, :email, { include_blank: true }, { class: 'form-select' } %>
                  </div>
                  <%= form.submit I18n.t('.add'), class: 'btn btn-sm btn-outline-primary' %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 rounded border">
              <% if current_user.admin? %>
                <div class="add-owner">
                  <h3><%= I18n.t('.add_owner') %></h3>
                  <%= form_with url: add_owner_company_memberships_path(@company), local: true do |form| %>
                    <div class="mb-3">
                      <%= form.label :user_id, class: 'form-label' %>
                      <%= form.collection_select :user_id, User.all, :id, :email, { include_blank: true }, { class: 'form-select' } %>
                    </div>
                    <%= form.submit I18n.t('.add'), class: 'btn btn-sm btn-outline-primary' %>
                  <% end %>
                </div>
              <% else %>
                <div class="add-owner">
                  <h3><%= I18n.t('.add_owner') %></h3>
                  <div class="text-center text-muted">
                    <i class="bi bi-lock" style="font-size: 2rem;"></i>
                    <p class="mt-3"><%= I18n.t('.only_admins_can_add_owners') %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row g-4 mt-2">
          <div class="col-12">
            <div class="p-3 rounded border">
              <h3><%= I18n.t('.members') %></h3>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><%= I18n.t('.email') %></th>
                    <th scope="col"><%= I18n.t('.actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @company.memberships.includes(:user).each do |membership| %>
                    <tr class="<%= 'table-primary' if membership.owner? %>">
                      <td><%= membership.user.email %></td>
                      <td>
                        <%= button_to company_membership_path(@company, membership),
                            method: :delete,
                            data: { turbo_confirm: t('are_you_sure') },
                            class: "btn btn-outline-danger #{'hidden' unless can?(:destroy, membership)}",
                            title: t('destroy') do %>
                          <i class="bi bi-trash3-fill"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row g-4">
          <div class="col-12">
            <div class="p-3 rounded border">
              <h3><%= I18n.t('.members') %></h3>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><%= I18n.t('.email') %></th>
                    <th scope="col"><%= I18n.t('.actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @company.memberships.includes(:user).each do |membership| %>
                    <tr class="<%= 'table-primary' if membership.owner? %>">
                      <td><%= membership.user.email %></td>
                      <td>
                        <%= button_to company_membership_path(@company, membership),
                            method: :delete,
                            data: { turbo_confirm: t('are_you_sure') },
                            class: "btn btn-outline-danger #{'hidden' unless can?(:destroy, membership)}",
                            title: t('destroy') do %>
                          <i class="bi bi-trash3-fill"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="btn-group mt-3">
      <% if can?(:destroy, @company) && can?(:update, @company) %>
        <%= button_to company_path(@company),
            method: :delete,
            data: { turbo_confirm: t('are_you_sure') },
            class: "btn btn-danger",
            title: t('destroy') do %>
          <i class="bi bi-trash3-fill"></i>
        <% end %>
        <%= link_to edit_company_path(@company), class: "btn btn-warning", title: t('edit') do %>
          <i class="bi bi-pencil-fill"></i>
        <% end %>
        <%= link_to companies_path, class: "btn btn-secondary", title: t('back') do %>
          <i class="bi bi-arrow-left-circle-fill"></i>
        <% end %>
      <% else %>
        <%= link_to companies_path, class: "btn btn-secondary", title: t('back') do %>
          <i class="bi bi-arrow-left-circle-fill"></i>
        <% end %>
      <% end %>
    </div>
  </main>
</div>
