<%= turbo_frame_tag "right-panel" do %>

  <%= render 'layouts/breadcrumbs' %>
  <%= render 'layouts/flash' %>

  <h1><%= t('all_list') %></h1>


  <ul class="nav nav-fill nav-tabs mb-3" id="pills-tab" role="tablist">
    <% if current_user&.admin? %>
      <% @documents.group_by(&:company).each_with_index do |(company, docs), index| %>
        <li class="nav-item" role="presentation">
          <a class="nav-link <%= 'active' if index == 0 %> <%= 'text-danger' if company.memberships.owner.exists?(user_id: current_user.id) %>" id="pills-company-<%= company.id %>-tab" data-bs-toggle="tab" data-bs-target="#pills-company-<%= company.id %>" role="tab" aria-controls="pills-company-<%= company.id %>" aria-selected="<%= index == 0 %>">
            <%= company.name %>
          </a>
        </li>
      <% end %>
    <% else %>
      <% @current_user_company_documents.group_by(&:company).each_with_index do |(company, docs), index| %>
        <li class="nav-item" role="presentation">
          <a class="nav-link <%= 'active' if index == 0 %> <%= 'text-danger' if company.memberships.owner.exists?(user_id: current_user.id) %>" id="pills-company-<%= company.id %>-tab" data-bs-toggle="tab" data-bs-target="#pills-company-<%= company.id %>" role="tab" aria-controls="pills-company-<%= company.id %>" aria-selected="<%= index == 0 %>">
            <%= company.name %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>


  <div class="tab-content" id="pills-tabContent">
    <% if current_user&.admin? %>
      <% @documents.group_by(&:company).each do |company, docs| %>
        <div class="tab-pane fade <%= 'show active' if docs.first == @documents.first %>" id="pills-company-<%= company.id %>" role="tabpanel" aria-labelledby="pills-company-<%= company.id %>-tab" tabindex="0">
          <% docs.each_slice(4) do |d4| %>
            <div class="row my-4">
              <%= render collection: d4, partial: 'documents/document', as: :document %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% if @current_user_company_documents.present? %>
        <% @current_user_company_documents.group_by(&:company).each do |company, docs| %>
          <div class="tab-pane fade <%= 'show active' if docs.first == @current_user_company_documents.first %>" id="pills-company-<%= company.id %>" role="tabpanel" aria-labelledby="pills-company-<%= company.id %>-tab" tabindex="0">
            <% docs.each_slice(4) do |d4| %>
              <div class="row my-4">
                <%= render collection: d4, partial: 'documents/document', as: :document %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="tab-pane fade" id="no-docs" role="tabpanel" aria-labelledby="no-docs-tab" tabindex="0">
          <p>No documents available.</p>
        </div>
      <% end %>
    <% end %>
  </div>


  <% if can?(:create, Document) %>
    <div class="btn-group pt-5">
      <%= link_to t('new'), new_document_path, class: "btn btn-primary" %>
    </div>
  <% end %>

<% end %>
