<%= turbo_frame_tag "right-panel" do %>

  <%= render 'layouts/breadcrumbs' %>
  <%= render 'layouts/flash' %>

  <h1><%= t('all_list') %></h1>

  <% @templates&.each_slice(4) do |t4| %>
    <div class="row my-4">
      <%= render collection: t4, partial: 'templates/template', as: :template %>
    </div>
  <% end %>

  <% if can?(:create, Template) %>
    <div class="btn-group pt-5">
      <%= link_to t('new'), new_template_path, class: "btn btn-primary" %>
    </div>
  <% end %>

<% end %>
