<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= I18n.t('.bim_templates') %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon_32x32.ico', rel: 'icon', sizes: '32x32' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <%= javascript_importmap_tags %>
  </head>
  <body class="data-bs-theme">
    <% if devise_controller? %>
      <%= render 'layouts/header' %>
      <div class="container pt-5 pb-5">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'layouts/header_2' %>
      <div class="container-fluid d-flex flex-column min-vh-91">
        <%= render 'layouts/flash' %>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
    <% end %>
    <%# <script async defer src="https://buttons.github.io/buttons.js"></script> %>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
  </body>
</html>
