<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>OwlPlanner - Templates for Documents</title>
    <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("apple-icon.png") %>">
    <link rel="icon" type="image/png" href="<%= asset_path("favicon.ico") %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/color_modes' %>
    <%= render 'layouts/flash' %>

    <% if devise_controller? %>
      <%= render 'layouts/header' %>
      <div class="container pt-5 pb-5">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'layouts/header_2' %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    <% end %>

    <%# <script async defer src="https://buttons.github.io/buttons.js"></script> %>
  </body>
</html>
